<h1>Timeline</h1>

<% if @messages.empty? %>
    <em>No tweets found</em>
<% else %>
    <table>
        <tr>
            <th>Status</th>
            <th>Who</th>
        </tr>
    <% @messages.each do |message| %>
        <tr>
        <td><%= message.status %> ===></td>
        <td><%= link_to "@" + message.user.name, user_path(message.user) %></td>
   	    </tr>
        <tr>
          <td><%= link_to 'Edit', edit_message_path(message) %>
              <%= link_to 'Destroy', message, :method => :destroy %></td>
        </tr>
        <tr><td>-------------</td></tr>
    <% end %>
    </table>
<% end %>
